h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
}

body {
    background-color: greenyellow;
}
section, h1 {
    background-color: skyblue;
    font-size: 25px;
}
.latin{
    color:#be2010;
    text-align: center;
    margin: 50px;
    padding: 25px;
    border: 1px solid black;
}